USE [.NET BANKING]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 23/02/2026 9:56:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AccountNumber] [nvarchar](20) NOT NULL,
	[Balance] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 23/02/2026 9:56:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ToAccount] [nvarchar](20) NULL,
	[TransType] [nvarchar](20) NULL,
	[Amount] [decimal](18, 0) NULL,
	[Note] [nvarchar](255) NULL,
	[TransDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/02/2026 9:56:22 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [UserId], [AccountNumber], [Balance]) VALUES (1, 4, N'9704230325987', CAST(20100000 AS Decimal(18, 0)))
INSERT [dbo].[Accounts] ([Id], [UserId], [AccountNumber], [Balance]) VALUES (2, 5, N'9704582946039', CAST(180100001 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [UserId], [ToAccount], [TransType], [Amount], [Note], [TransDate]) VALUES (1, 4, NULL, N'Nạp tiền', CAST(100000 AS Decimal(18, 0)), N'Nạp tiền vào tài khoản', CAST(N'2026-02-21T16:49:06.160' AS DateTime))
INSERT [dbo].[Transactions] ([Id], [UserId], [ToAccount], [TransType], [Amount], [Note], [TransDate]) VALUES (2, 5, NULL, N'Nạp tiền', CAST(100000000 AS Decimal(18, 0)), N'Nạp tiền vào tài khoản', CAST(N'2026-02-21T16:54:36.193' AS DateTime))
INSERT [dbo].[Transactions] ([Id], [UserId], [ToAccount], [TransType], [Amount], [Note], [TransDate]) VALUES (3, 5, NULL, N'Nạp tiền', CAST(100000000 AS Decimal(18, 0)), N'Nạp tiền vào tài khoản', CAST(N'2026-02-21T16:55:15.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [CCCD], [PhoneNumber], [PasswordHash]) VALUES (1, N'Nguyễn Minh Huy', N'089206016856', N'0349432333', N'f6f1bf7196a6d50dc890315517465f2e703101a0215e0b8b0d8ff4344ecc77a2')
INSERT [dbo].[Users] ([Id], [FullName], [CCCD], [PhoneNumber], [PasswordHash]) VALUES (2, N'Nguyễn Quốc Trí', N'012345678912', N'0288591928', N'7e036af29b992fafd7bb2e9f5fc7827fe6b70808fefae469b60f4497910b9aca')
INSERT [dbo].[Users] ([Id], [FullName], [CCCD], [PhoneNumber], [PasswordHash]) VALUES (3, N'Ngádasdasd', N'012958373647', N'0901904320', N'841f587994c53ef3b916e073cbaed99a5e5032959f62be2e4d96baf7334c2007')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__BE2ACD6FDB09A686]    Script Date: 23/02/2026 9:56:22 SA ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__85FB4E3843463E8D]    Script Date: 23/02/2026 9:56:22 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A955A0AA8B732217]    Script Date: 23/02/2026 9:56:22 SA ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users]
GO
